.container{
    background-color: rgb(245, 202, 1);
    display: inline-block;
    margin: 50px;
    height: 170px;
    width: 320px;
    border-radius: 10px;
    position: relative;
    font-family: sans-serif;
}
.bank{
    display: flex;
    justify-content:space-between;
    padding: 10px 15px;
    font-size: 20px;
}
.bank i{
    color: white;
}
.chip{
    display: flex;
    justify-content:space-between;
    padding: 20px 10px;
}
.chip p{
    color: white;
    display: flex;
    align-items: center;
}
.chip i{
    margin-left: 20px;
    font-size: 25px;
}
.card{
    position: absolute;
    right: 15px;
    top: 115px;
    font-size: 40px;
}