.container{
    background-color: rgb(241 204 30);
    display: inline-block;
    margin: 50px;
    height: 190px;
    width: 330px;
    border-radius: 10px;
    position: relative;
    font-family: sans-serif;
}
.bank{
    display: flex;
    justify-content:space-between;
    padding: 15px;
    font-size: 20px;
}
.bank i{
    color: white;
    transform: rotate(90deg);
}
.chip{
    display: flex;
    justify-content:space-between;
    padding: 20px 10px;
}
.chip p{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.chip i{
    margin-left: 25px;
    font-size: 30px;
    color: #5a4f4f;
}
.card{
    position: absolute;
    right: 15px;
    top: 110px;
    font-size: 50px;
    margin-top: 15px;
}
.card i{
    color: #bf3131;
}