@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.navbar {
    background-color: #959595;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.navbar i{
    color: #444343;
    font-size: 25px;
    margin-left: 70px;
    margin-right: 5px;
}
.icon {
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    color: 	#444343;
}