$main-color: #3A4374;
$second-color: #373F68;
$other-color: #AD1FEA;



body{
    .container{
        width: 1200px;
        margin: 20px auto;
        background: $second-color;
        color: white;
        display: flex;
        justify-content:space-between;
        font-weight: 700;
        padding: 10px 30px;
        border-radius:10px;
        .container-left{
            display: flex;
            flex-direction: column;
            .icon{
                display: flex;
                font-size: 14px;
                p{
                    margin-left: 5px;
                }
            }
            .road{
                font-size: 20px;
            }
        }
        .container-right{
            display: flex;
            align-items: center;
            p{
                font-size: 14px;
            }
        }
    }
    .elements{

    }
}
